{% extends "base.html" %}  


{% block navbar %} 
{% endblock %}

{% block title %} YouTube Downloader {% endblock %}

{% block content %}
    
<form method="post" action = "http://localhost:5000/download" >
  <div class="form-check">
  <input class="form-check-input" type="radio" name="choice" id="audio"
  value="audio" checked>
  <label class="form-check-label" for="audio">
    Audio
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="choice" id="video" value="video">
  <label class="form-check-label" for="video">
    Video
  </label>
</div>

  <br>
  <input type="url" id="url" name="url" placeholder="Paste Youtube video url here">  
  <br><br>
  <input type="submit" class="end btn btn-primary" value="download">
</form> 

  <br><br>

  

{% endblock %}



